@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body{
    background-image: url(./Képek/green.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-color: lightgreen;
}

body color:visited {
    color: green;
}
body color:active {
    color: darkred;
}

header{
    font-family: 'Bebas Neue';

}

nav{
    
}

div{
    text-align: center;
}

h1, h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table{
    border: 5px;
    border-spacing: 2px;
    padding: 10px;
    text-align: center;
    
}

p{
    text-align: center;
}

img{
    width: 300px;
}