@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Bebas Neue, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #294;
    color: #fff;
    padding: 10px;
    align-items: center;
}

.navigation ul {
    list-style: none;
    text-align: right;
}

.navigation li {
    display: inline;
    margin: 0 10px;
}

.navigation a {
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    color: red;
}

#szekcio{
    padding-top: 100px;
    text-align: center;
    width: 100%;
}

#kep{
    width: 100%;
    border-radius: 15px;
    border-color: black;
    border-style: groove;
}

#szoveg{
    padding-top: 50px;
    width: 100%;
    text-align: center;
    align-items: center;
}

#lohere{
    width: 20px;
}

#fofocim{
    font-size: medium;
    padding: 10px;
    background-color: black;
    color: #fff;
}

footer{
    position: fixed;
    width: 100%;
    align-items: center;
}